<h2> Appointment at : <%= @formatted_date%></h2>
<h2> Doctor name : <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></h2>
<h2> Patient name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%></h2>
